@import '../../app.scss';

.skills-container {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    margin: 4rem 0;
    position: relative;
    height: 100%;

    .wrapper {
        max-width: 1300px;
        height: 100%;
        margin: auto;
    }

    h1 {
        font-size: 80px;
        font-weight: 600;
        margin-bottom: 3.5rem;
        margin-top: -3.5rem;
        text-align: center;

        @include mobile {
            margin: -2.5rem 0 2rem 1rem;
            font-size: 40px;
        }

        @include tablet {
            margin-bottom: 2rem;
            font-size: 60px;
        }
    }

    .skills-content {
        display: flex;
        align-items: flex-start;
        gap: 3rem;

        @include tablet {
            padding: 2rem;
            grid-gap: 2rem;
        }   

        @include mobile-Skills {
            flex-direction: column-reverse;
            gap: 3rem;
            padding: 1rem;
        }
    }

    .skills {
        flex: 1;
        height: 100%;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        

        @include mobile-Skills {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            gap: 1.5rem;
            width: 100%;
        }

        @include tablet {
            padding-left: 1rem;
            grid-gap: 2rem;
        }
    }

    .skills-info {
        flex: 1;

        @include mobile-Skills {
            width: 100%;
        }
    }
}

@include mobile-Skills {
    .skills-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .skills-container::after,
    .skills-container::before {
        width: 18rem;
        height: 18rem;
    }
}
