.navbar{
    height: 100px;

    .wrapper{
        max-width: 1250px;
        margin: auto ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 15px;

            .navbar-icon{
               width: 30px; 
               height: 30px;
            }
    }
    }
}
